@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* CSS RESET */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
    pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
    q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
    thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
    footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
    audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
}
    article, aside, details, figcaption, figure, footer, header, hgroup, menu,
    nav, section {
        display: block;
    }
    body {
        line-height: 1.2;
}
ol {
        padding-left: 1.4em;
        list-style: decimal;
    }
    ul {
        list-style: square;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
    }
/*END CSS RESET*/ 


#logo{
	width: 75%;
	height: 10%;
	margin: 5% auto;
	display: block;	
}

#walloffame{
	background-color: #b3c21c;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	color: white;
	font:  normal small-caps lighter 2em/1 'Roboto Slab';/* old browsers */
}

h1{
	font-weight: 100;
}

svg{
	width: 100%;
	border-top: 5px solid #b3c21c;
	border-bottom: 5px solid #b3c21c;
	
	min-height: 40em;
}

h2{
	padding-top: 10%;
	font:  normal small-caps 100 3em/1 'Roboto Slab';/* old browsers */
	text-align: center;
	color: #FF27D4;
}

h3{
	font:  normal small-caps 400 1.5em/1 'Roboto Slab';/* old browsers */
	text-align: center;
	padding-top: 10%;
	color: #5963c4;
}

#banner img{
	width: 100%;
}

article p{
	margin: 5% auto 10% auto;
	text-align: justify;
	width: 80%;
	font:  normal small-caps lighter 1em/1 'Roboto Slab';/* old browsers */
	color: black;

}

#linkstogo{
	width: 70%;
	margin: 0 auto;
}

iframe{
	width: 222px; 
	height:445px;
}

#social{
	width: 100%;
	margin: 0 auto;
}

.social{fill:#b3c21c;transition:0.5s;}
.social:hover{fill:#6B0D58;transition:0.5s;}


#social ul li svg{
	display: inline;
	margin:0 auto;
}

#social svg{
	width: 15%;
	display: inline;
	margin: 0 auto;
	border-top: 0px solid #b3c21c;
	border-bottom: 0px solid #b3c21c;
	
	min-height: 1em;

}

#social ul{
	padding-top: 10%;
	text-align: center;
	padding-bottom: 10%;
}

#social ul li{
	text-align: center;
	display: inline;
	padding: 0 5%;
	margin: 0 auto;
	
}

#social ul li a{
	text-decoration: none;
}

footer{
	background-color: #5963c4;
	min-height: 10em;	
}

footer h6 a{
	color: orange;
	text-decoration: none;
}

footer h5{
	text-align: center;
	font:  normal small-caps lighter 1.6em/1 'Roboto Slab';/* old browsers */
	text-decoration: none;
	color: white;
	padding: 10% 5%;
}



footer h6{
	text-align: center;
	font:  normal small-caps lighter 1.2em/1 'Roboto Slab';/* old browsers */
	margin: 0 auto;
	color: white;
}

footer p{
	text-align: center;
	font:  normal small-caps lighter 1em/1 'Roboto Slab';/* old browsers */
	margin: 0 auto;
	color: white;
	margin: 5%;
}

#disabled{
	visibility: hidden;
}

@media screen and (min-width: 37em) and (max-width: 55em){
body{
	width: 80%;
	margin: 0 auto;
	background-color: #d6d6d6;
}
#container{
	background-color: #ffffff;
}
#logo{
	width: 75%;
	height: 10%;
	margin: 0 auto;
	padding: 10% 0;
	display: block;	
}

#walloffame{
	font:  normal small-caps lighter 2.5em/1 'Roboto Slab';/* old browsers */
}


article p{
	font:  normal small-caps lighter 1.5em/1 'Roboto Slab';/* old browsers */

}

#thankyou{
	width: 50%;
	float: left;
	margin: 0 auto;
}

#thankyou article{
	width: 100%;
	margin: 0 auto;
}

#linkstogo{
padding: 5% 10% 10%;
	width: 30%;
	margin: 0 auto;
	float: right;
	display: block;
}

#social{
padding: 10% 0 0;
	width: 100%;
	margin: 0 auto;
	}


#social svg{
	width: 10%;
	display: inline;
	margin: 0 auto;
	border-top: 0px solid #b3c21c;
	border-bottom: 0px solid #b3c21c;
	
	min-height: 1em;

}

#social ul{
	padding-top: 10%;
	text-align: center;
}

#social ul li{
	text-align: center;
	display: inline;
	padding: 0 5%;
	margin: 0 auto;
	
}

#social ul li a{
	text-decoration: none;
}

social h3{
	font:  normal small-caps 400 1.5em/1 'Roboto Slab';/* old browsers */
	text-align: center;
	padding-top: 10%;
	color: #5963c4;
}


footer h5{
	font:  normal small-caps lighter 2em/1 'lato';/* old browsers */
	padding: 5% 5%;
}
	
}

@media screen and (min-width: 55em){
	body{
	width: 80%;
	margin: 0 auto;
	background-color: #d6d6d6;
}
#container{
	background-color: #ffffff;
}
#logo{
	width: 75%;
	height: 10%;
	margin: 0 auto;
	padding: 10% 0;
	display: block;	
}

#walloffame{
	font:  normal small-caps lighter 2.5em/1 'Roboto Slab';/* old browsers */
}


article p{
	font:  normal small-caps lighter 1.5em/1 'Roboto Slab';/* old browsers */

}

#thankyou{
	width: 70%;
	float: left;
	margin: 0 auto;
}

#thankyou article{
	width: 100%;
	margin: 0 auto;
}

#linkstogo{
padding: 5% 5% 5%;
	width: 20%;
	margin: 0 auto;
	float: right;
	display: block;
}

#social{
padding: 10% 0 0;
	width: 100%;
	margin: 0 auto;
	}


#social svg{
	width: 10%;
	display: inline;
	margin: 0 auto;
	border-top: 0px solid #b3c21c;
	border-bottom: 0px solid #b3c21c;
	
	min-height: 1em;

}

#social ul{
	padding-top: 10%;
	text-align: center;
}

#social ul li{
	text-align: center;
	display: inline;
	padding: 0 5%;
	margin: 0 auto;
	
}

#social ul li a{
	text-decoration: none;
}

social h3{
	font:  normal small-caps 400 2.5em/1 'Roboto Slab';/* old browsers */
	text-align: center;
	padding-top: 10%;
	color: #5963c4;
}


footer h5{
	font:  normal small-caps lighter 2em/1 'lato';/* old browsers */
	padding: 5% 5%;
}
}