
@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700');

body {
	font-family: 'Mukta', sans-serif !important;
}

.item {
	height: 100vh;
}

.item.image-1 {
	background: url(../img/salvador.jpg) 80%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: contrast(150%);
}

.item.image-2 {
	background: url(../img/dique.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: contrast(120%);
}

.image-1 h1, .image-1 h2, .image-2 h1, .image-2 h2 {
    color: #fafafa;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: -2px -2px 4px #999;
    position: relative;
    top: 37vh;
    text-align: center;
    display: block;
	padding: 0 1rem;
	margin: 0;
}

.image-1 h2, .image-2 h2 {
	font-size: 20px;
	font-weight: 300;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f5f5f5 !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px !important;
	height: 20px !important;
}

.owl-dots {
    margin-top: 10px;
    top: 90vh;
    position: absolute;
    left: 0;
    right: 0;
}

.transparent-button {
	color: #fafafa;
    position: absolute;
    z-index: 2;
    top: 80vh;
    text-transform: uppercase;
    width: 40%;
    text-align: center;
    border: 2px solid #fafafa;
    padding: 0.5rem;
	margin: 0 30%;
	transition: 0.5s;
	cursor: pointer;
}

.transparent-button:hover {
	color: rgb(177, 15, 31);
	background-color: #fafafa;
	transition: 0.5s;
}

.title-section {
	text-align: center;
    font-size: 38px;
	margin: 2rem 0 0.5rem;
	color: rgb(161, 79, 40)
}

.title-section.yellow {
	color: rgb(253,185,19);
	margin: 0 0 0.5rem;
}

.body-paragraph {
    font-size: 1.2rem;
    color: #404142;
    font-weight: 300;
    text-align: left;
    /* border: 1px solid #e47343; */
    margin: 0;
    padding: 1rem;
}

.vertical-full--header {
    position: absolute;
	font-size: 20px;
	width: 50%;
	margin: 0 25%;
    background-color: rgba(255,255,255,1);
    padding: 1.5rem;
    /* height: 98vh; */
    top: 0;
    z-index: 2;
    /* margin: 1vh; */
}

@media screen and (min-width: 40em){
	.vertical-full--header {
		width: 36%;
		margin: 0 32%;
	}
	
	.image-1 h1, .image-2 h1 {
		top: 42vh;
		margin: 0 10%;
	}

	.image-1 h2, .image-2 h2 {
		line-height: 3.4;
	}
}

@media screen and (min-width: 64em){
	.image-1 h1, .image-2 h1 {
		font-size: 70px;
	}

	.vertical-full--header {
	    width: 24%;
		margin: 0 38%;
	}

	.transparent-button {
		width: 22%;
		margin: 0 39%;
		font-size: 20px;
	}
	.image-1 h2, .image-2 h2 {
		line-height: 4.4;
	}
}

.vertical-full--header img {

}

.product-body--maps-frame {
	border: 0;
    width: 100%;
    height: 25em;
}



.hero__description .panel--default {
    z-index: 2;
    max-width: 99%;
    color: #FFFFFF;
    position: relative;
    padding: 180px 20px 0 20px;
}

.panel--default:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 110px);
    right: calc(50% - 170px);
    height: 380px;
    width: 330px;
    -webkit-clip-path: polygon(0 18%, 90% 0%, 100% 89%, 0 100%);
    clip-path: polygon(0 18%, 90% 0%, 100% 89%, 0 100%);
    opacity: 0.9;
    mix-blend-mode: multiply;
	background-color: rgb(177, 15, 31);
}

.panel--default {
	z-index: 10;
    max-width: 99%;
    color: #FFFFFF;
    position: absolute;
    /* padding: 180px 20px 0 20px; */
    right: 0;
    left: 0;
    top: 25vh;
}


.panel__header {
    position: relative;
    text-align: center;
    /* padding: 10em; */
    font-size: 35px;
    top: 5rem;
    width: 50%;
    margin: 0 auto;
}

.full-calendar-box {
	background-color: rgb(177, 15, 31);
	padding: 0.8rem;
	color: #f5f5f5;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}

.sympla-container {
	margin: 0 auto;
    width: 95%;
}

@media screen and (min-width: 64em){
	.sympla-container {
		padding: 0 3rem;
	}	
}

.hotels-section--item {
	margin-bottom: 2rem;
	cursor: pointer;
}


.collumns.small-6.medium-4.large-3.hotels-section--item {
    background-color: #fff;
    margin: 0 1% 2rem;
    padding: 1rem;
	border-radius: 6px;
}

.collumns.small-6.hotels-section--item {
	width: 48%;
	flex: 0 0 48%;
}

@media screen and (min-width: 40em){
	.collumns.medium-4.hotels-section--item {
		width: 31%;
		flex: 0 0 31%;
	}
}

@media screen and (min-width: 64em){
	.collumns.large-3.hotels-section--item {
		width: 23%;
		flex: 0 0 23%;
	}
}





.hotels-section--title {
	font-size: 18px;
	text-align: center;
	display: block;
} 

.hotel--img {
	width: 100px;
	height: 100px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.hotel--img.pestana{
	background: url(../img/hotels/pestana.png) no-repeat 30% 70%;
}

.hotel--img.monte-pascoal{
	background: url(../img/hotels/montepascoal.png) no-repeat 30% 70%;
}

.hotel--img.sol-express{
	background: url(../img/hotels/solExpress.png) no-repeat 30% 70%;
}

.hotel--img.grande-hotel{
	background: url(../img/hotels/grandBarra.png) no-repeat 30% 70%;
}

.hotel--img.colonial-chile{
	background: url(../img/hotels/colonialChile.png) no-repeat 30% 70%;
}

.hotel--img.hospeda-salvador{
	background: url(../img/hotels/hospedaSalvador.png) no-repeat 30% 70%;
}

.hotel--img.suites-pelo{
	background: url(../img/hotels/suitesdoPelo.png) no-repeat 30% 70%;
}

.hotel--img.porto-barra{
	background: url(../img/hotels/default.png) no-repeat 30% 70%;
}


















.stunning-first-section {
	width: 100%;
    min-height: 100vh;
	background: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.stunning-first-section--overlay {
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 30%, rgba(255,255,255,0.1) 70%) ;
	z-index: 2;
}

.stunning-box-text {
    position: absolute;
	top: 40%;
	width: 100%;
}

.stunning-title {
    margin: 0;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 200;
}

.transparency-header {
	position: relative;
	font-size: 20px;
	color: #fafafa;
	padding: 0.5rem;
}

.transparency-header img {
	max-width: 200px;
    background-color: white;
    padding: 0.8rem;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 40em){

	.stunning-title {
		width: 80%;
		margin: 0 auto;
	}

	.transparency-header {
		position: relative;
		font-size: 20px;
		background-color: #fafafa;
		color: #404142;
		margin: 1rem;
		padding: 0.5rem;
	}

	.transparency-header img {
		max-width: 100%;
		background-color: transparent;
		padding: 0;
	}	
}

.stunning-black--button{
    display: block !important;
    width: 200px;
    margin: 0 auto !important;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 6px;
    transition: 1s;
	text-transform: uppercase;
	background-color: #404142;
	color: #fafafa;
	text-align: center;
	padding: 0.4rem;
}

.stunning-black--button:hover {
	transition: 1s;
	background-color: #e47343 !important;
}

.basic-section{
	background-color: #fafafa;
	padding: 1rem;
}

.personal-inpirational-message {
	font-size: 1.2rem;
	color: #404142;
	font-weight: 300;
	text-align: center;
	border: 1px solid #e47343;
	margin: 0;
	padding: 1rem;
}

.mission-row.row {
	max-width: none !important;
	background-color: #404142;
	text-align: center;
	color: #f5f5f5;
	justify-content: space-around;
}

.mission-img {
	min-height: 180px;
	width: 100%;
	background: url(../img/capa.jpg) no-repeat 30% 70%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.difference-img {
	min-height: 250px;
	width: 100%;
	background: url(../img/dive.jpg) no-repeat 30% center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mission-objective {
	background-color: #404142;
	color: #fafafa;
	padding: 3rem 1.5rem;
	text-align: center;
}

.icon-head-line {
    width: 100%;
    font-size: 30px;
    /*margin-top: 2rem;*/
    color: #e47343;
}

.mission-title {
	font-size: 1em;
	font-weight: 300;
	margin: 1rem 0 0.5rem 0 ;
	text-align: center;
	width: 100%;
}

.mission-paragraph {
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 0.5rem 0;
}

.main-color--button {
    margin: 0 auto !important;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 1s;
	background-color: #e47343;
	color: #fafafa;
	text-align: center;
	padding: 0.4rem;
	display: block;
}

.mission-difference {
	background-color: #fafafa;
	color: #404142;
	padding: 1rem;
	text-align: center;
}


@media screen and (min-width: 40em){
	.mission-objective, .mission-difference {
	
	}
}

.plans-container {
	background-color: #404142;
	text-align: center;
	color: #f5f5f5;
	padding: 2rem;
}

.plans-container .row {
	justify-content: space-around;
}

.plan-card {
	background-color: #fafafa;
	padding: 0.5rem;
	max-width: 400px;
	color: #404142;
	margin: 1rem 0;
}

.plan-card ul {
	list-style: none;
	padding: 0;
	margin: 2rem 0;
}

.erika-footer{
	color: #404142;
	padding: 0.5rem;
	background-color: #f5f5f5;
}

.erika-footer p {
	margin: 0;
	font-size: 12px;
}























.header-love {
    /*background-color: #fff;*/
    /*height: 5vh;*/
    /*min-height: 110px;*/
	padding: 0.5rem;
	position: absolute;
}

.header-love--logo {
	/*max-width: 50%;*/
	margin: 0 auto;
	display: block;
	max-height: 50px;
}

.header-love--phrase {
	font-size: 1rem;
	color: #404142;
	font-weight: 200;
	text-align: center;
}

@media screen and (min-width: 40em){
	.header-love--phrase {
		font-size: 1.2rem;
		text-align: left;
	}	
}







@media screen and (min-width: 40em){
	.cities-impact{
		min-height: 89vh;
	}
}

.cities-impact h3 {
	color: #fff;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 20vh;
    text-transform: uppercase;
    text-shadow: 1px 1px #404142;
	margin: 0 5%;
	font-weight: 900;
}

@media screen and (min-width: 40em){
	.cities-impact h3 {
		font-size: 70px;
	}
}

@media screen and (min-width: 64em){
	.cities-impact h3 {
		width: 80%;
		margin: auto;
		font-size: 90px;
		top: 13vh;
	}
}

@media screen and (min-width: 1440px){
	.cities-impact h3 {
		top: 20vh;
		width: 50%;
	}
}

.love-experience--bars,
.love-experience--restaurants, 
.love-experience--outdoor-events, 
.love-experience--hotels{
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border-bottom: 1px solid #626262;
	min-height: 200px;
}

@media screen and (min-width: 40em){
	.love-experience--bars,
	.love-experience--restaurants, 
	.love-experience--outdoor-events, 
	.love-experience--hotels{
		border: none;
	}
}

.love-experience--bars {
    background: url(../img/red2.jpg) no-repeat center center;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.love-experience--restaurants {
	background: url(../img/cafe.JPG) no-repeat right center;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.love-experience--outdoor-events {
	background: url(../img/swim.JPG) no-repeat center 70%;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.love-experience--hotels {
	background: url(../img/hotel.JPG) no-repeat right 70%;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}


.list-features {
	    border-top: 3px solid #e47343;

}

.experience-type-text {
	font-size: 1.5rem;
    vertical-align: sub;
    text-align: center;
    color: #fff;
    position: relative;
    top: 40%;
    text-shadow: 1px 1px #404142;
}

.experiences-image {
	width: 80%;
	display: block;
	margin: 1rem auto;
}

.experiences-section--text-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	color: #404142;

	    font-size: 20px;
    margin-left: -2.13px;
    line-height: 1.4;
    letter-spacing: -.015em;
    margin: 0.5rem auto;
}

.experiences-section--text-title.large-exclusive {
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	color: #404142;
	    font-size: 34px;
    margin-left: -2.13px;
    line-height: 1.04;
    letter-spacing: -.015em;
}

.experiences-section--text-paragraph {
	text-align: center;
	padding: 1rem;

	font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
        letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.84);
    line-height: 1.4;
}

@media screen and (min-width: 40em){
		.expeciences-section {
    	padding: 2rem 0;
	}
}

@media screen and (min-width: 64em){

	.experiences-section--text-title {
		font-weight: 400;
		padding: 0 1rem;
	}

	.experiences-section--text-paragraph {		text-align: left;
		padding: 1rem 2rem;
		    font-size: 20px;
	}

	.experiences-image {
		margin: 3rem auto;
	}

	.expeciences-section {
		padding: 5rem 0;
	}
}

.experiences-section--full-banner {
	width: 100%;
	background: url(../img/experience.JPG) no-repeat 30% center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.experience-section--text-box {
	background-color: rgba(0,0,0,.6);
	width: 100%;
	margin: 0 auto;
	display: block;
	min-height: 600px;
	padding: 5rem 0;
}

.experience-section--text-box .experiences-section--text-title {
    color: #f5f5f5;
    padding: 3rem 1rem 1rem;
    font-weight: 700;
    font-size: 30px;
}

.experience-section--text-box .experiences-section--text-paragraph {
	color: #f5f5f5;
	padding: 0 1rem 3rem;
	font-size: 20px;
	font-weight: 500;
}

@media screen and (min-width: 40em){
	.experiences-section--full-banner {
		width: 100%;
		background: url(../img/experience.JPG) no-repeat 30% center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 600px;
	
	}

	.experience-section--text-box {
		border-radius: 50%;
		width: 70%;
		padding: 3rem;
		min-height: auto;
		height: 500px;
		/* padding-top: 50px; */
		position: relative;
		top: 50px;
		max-width: 538px;
	}

	.experience-section--text-box .experiences-section--text-title {
		padding: 1rem;
	}
	
	.experience-section--text-box .experiences-section--text-paragraph {
		margin: 0;
	}
}

@media screen and (min-width: 64em){	
	.experience-section--text-box .experiences-section--text-paragraph {
		text-align: center;
	}
}

.newsletter {
	padding: 1rem !important;
    text-align: center !important;
    background-color: #ffae00 !important;
}

.newsletter div#mc_embed_signup {
	background:transparent;
}

.newsletter label {
	    font-size: 20px !important;
	font-family: 'Mukta', sans-serif !important;
    font-weight: 600 !important;
    margin-bottom: 0.5rem !important; 
}

.newsletter [type=email] {
    height: 50px !important;
    font-size: 20px !important;
	width: 100% !important;
	border-radius: 6px!important;
}

#mc_embed_signup_scroll {
	text-align: center !important;
}



@media screen and (min-width: 40em){
	.newsletter .clear {
		display: inline-block !important;
	    width: 20% !important;
	}

	.newsletter [type=email] {
	    width: 50% !important;
	    display: inline-flex !important;
	}
}


.newsletter [type=submit] {
	font-size: 18px !important;
    border-radius: 6px !important;
    background: #404142 !important;
    width: 100% !important;
    margin-bottom: 0 !important;
    line-height: 1.1 !important;
    padding: 0.85rem 1rem;
}

@media screen and (min-width: 64em){

	.newsletter label {
    	display: inline !important;
    	padding-right: 0.7rem !important;
	}

	.newsletter [type=email] {
	    height: auto !important;
    	font-size: 16px !important;
    	margin-bottom: 0 !important;
	}

	.newsletter [type=submit] {
		font-size: 15px !important;
	    margin-bottom: 3px !important;
	}
}

