header{
	background-color: #445566;
	padding: 1rem;
}

header img.logo{
	width: 50%;
	max-width: 20rem;
	margin: 0 auto;
	display: block;
}

ul.menu{
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
  	justify-content: space-around;
	max-width: 20rem;
}

.menu li{
	margin: auto;
	list-style: none;
	padding: 1rem;
}

.menu li a{
	color: #98aabb;
	text-decoration: none;
	transition: 1s;
}

.menu li a:hover{
	color: #778899;
	transition: 1s;
}

.intro{
	max-width: 56rem;
	margin: 0 auto;
}

.intro h1{
	text-align: center;
	color: #445566;
	padding: 1% 0;
	margin: 0;
}

.intro p{
	text-align: justify;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 0 5%;
}